* text=auto
* text eol=lf
/.github export-ignore
/.static export-ignore
/tests export-ignore
.gitignore export-ignore
.gitattributes export-ignore
LICENSE export-ignore
*.md export-ignore
*.xml export-ignore
_config.yml export-ignore
*.png filter=lfs diff=lfs merge=lfs -text
*.bat linguist-detectable=false
*.cmd linguist-detectable=false
* !text !filter !merge !diff
